.breadcrumbs {
  max-width: 21rem;
  margin-right: 2rem;

  @include breakpoint(laptop) {
    max-width: 100%;
    margin-bottom: 2rem;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 0.6rem 0.8rem;

    li {
      &:last-child {
        .breadcrumbs__link {
          padding-right: 0;
          &::after {
            display: none;
          }
        }
      }
    }
  }

  &__link {
    position: relative;
    padding-right: 1.1rem;

    &:hover,
    &:focus{
      color: $primary-500;
    }

    &:active{
      color: $grayscale-900;
    }

    &::after {
      content: '/';
      font-size: 1.6rem;
      line-height: 1.2;
      position: absolute;
      bottom: 0;
      right: 0;
    }

    @include breakpoint(mobile){
      font-size: 1.4rem;
    }
  }
}
