.form {

  &--dark{
    max-width: 50rem;
    color: $grayscale-100;

    .input__element{
      color: $grayscale-100;
      border-bottom: 0.1rem solid $grayscale-100;

      &:placeholder-shown ~ .input__placeholder{
        color: $grayscale-100;
      }

      &:focus{
        border-color: $grayscale-100;
        & ~ .input__placeholder {
          color: $grayscale-600;
        }
      }
    }

    .input__placeholder{
      color: $grayscale-100;
    }

    .form__footer{
      .button{
        background-color: $grayscale-100;
        color: $primary-700;
      }
    }

    .policy{
      a{

        &:visited{
          color: $grayscale-200;
        }
      }
    }

    .input.error{
      .input__element{
        border-color: $yellow;
      }
      .input__validation-message{
        color: $yellow;
      }
      .input__placeholder{
        color: $yellow !important;
      }
    }
  }

  &__heading-block {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 2rem;
    margin-bottom: 3.2rem;

    @include breakpoint(laptop) {
      flex-direction: column;
      gap: 1rem;
    }

    @include breakpoint(small-tablet) {
      margin-bottom: 0.4rem;
    }
  }

  &__heading {
    @extend %fs-h-4;
    letter-spacing: -0.01em;
    text-transform: uppercase;
  }

  &__heading-label {
    @extend %fs-body-s;
  }

  &__desc{
    @extend %fs-roboto-s;
    margin-bottom: 2.4rem;
  }

  &__inputs {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    @include breakpoint(small-tablet) {
      gap: 0.4rem;
    }
  }

  &__footer {
    display: flex;
    align-items: center;
    gap: 3.2rem;
    margin-top: 4rem;

    @include breakpoint(laptop) {
      align-items: stretch;
      flex-direction: column;
      gap: 2rem;
    }

    @include breakpoint(small-tablet) {
      margin-top: 2rem;
    }
  }
}