.round-buttons{
    border: 1px solid $grayscale-500;
    padding: 2.1rem 1.8rem 2.1rem 6.8rem;
    border-radius: 999px;
    position: relative;
    text-transform: uppercase;
    @extend %fs-button-2;
    transition: $tt $te, border-color $tt $te, color $tt $te;
    text-align: center;

    &::before{
        content: '';
        position: absolute;
        background-color: $primary-700;
        border-radius: 50%;
        width: 4.8rem;
        height: 4.8rem;
        left: 0.2rem;
        top: 50%;
        transform: translateY(-50%);
    }

    &::after{
        content: '';
        position: absolute;
        background-image: url('../../img/content/numbers-main/book.svg');
        background-repeat: no-repeat;
        background-size: cover;
        width: 2rem;
        height: 2rem;
        top: 50%;
        transform: translateY(-50%);
        left: 1.6rem;
    }

    &--download{
        &::after{
            background-image: url('../../img/download.svg');
        }
    }

    &:hover{
        border: 1px solid $primary-500;
        &::before{
            background-color: $primary-500;
        }
    }

    &:focus{
        border: 1px solid $primary-400;
        &::before{
            background-color: $primary-400;
        }
    }
}