.search-field {
  position: relative;

  @extend %fs-body-s;
  line-height: 1;

  transition: flex-grow $tt $te;

  border-radius: 6.5rem;

  background-color: $grayscale-100;

  width: 4.6rem;
  height: 4.6rem;

  overflow: hidden;

  &.active {
    flex-grow: 1;

    width: auto;

    .search-field__element {
      display: block;
    }

    .search-field__button--close {
      opacity: 1;
      visibility: visible;

      transition: opacity $tt $te $tt, visibility $tt $te $tt;
    }
  }

  &__form {

  }

  &__element {
    display: none;
    padding: 1.45rem 5rem;

    &::placeholder {
      color: $grayscale-600;
      font: inherit;
    }
  }

  &__button {
    position: absolute;
    top: 0;

    display: flex;
    align-items: center;
    justify-content: center;
    width: 4.6rem;
    height: 4.6rem;

    border-radius: 50%;

    svg {
      stroke: $grayscale-900;
    }

    &--open {
      left: 0;
    }

    &--close {
      right: 0;

      opacity: 0;
      visibility: hidden;

      transition: opacity 0 $te, visibility 0 $te;
    }
  }

  &__result {
    position: absolute;
    top: 100%;
    left: 0;

    width: 100%;

    opacity: 0;
    visibility: hidden;
    pointer-events: none;

    &.active {
      opacity: 1;
      visibility: visible;
      pointer-events: all;
    }
  }

  &__error {
    display: none;
  }

  &__result-list {
  }

  &__result-link {
  }
}