.secondary-menu {
  display: flex;
  align-items: center;
  gap: 2.4rem;
  &__link {
    @extend %fs-body-s;

    opacity: 0.4;

    &.active {
      opacity: 1;
    }

    @extend %interactive;
  }
}