.user-card {
  display: flex;
  align-items: center;
  padding-top: 2rem;
  border-top: 0.1rem solid rgba(33, 34, 46, 0.1);
  max-width: fit-content;

  &--without-border{
    padding-top: 0;
    border-top: 0;
  }

  &__logo {
    flex-shrink: 0;
    height: 4.8rem;
    width: 4.8rem;
    border-radius: 50%;
    margin-right: 1.6rem;
    position: relative;
    overflow: hidden;
    background-color: $grayscale-300;

    img {
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      object-position: top center;
      object-fit: cover;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__info-title {
    margin-bottom: 2px;
    @extend %fs-body-m;
  }

  &__info-post {
    color: $grayscale-600;
    @extend %fs-body-m;
  }
}
