.cards-articls{

  &__inner{
    display: flex;
    align-items: flex-start;
    padding: 7.2rem 0 8rem 4.8rem;

    @include breakpoint(laptop) {
      flex-direction: column;
      padding: 4.2rem 0 4rem 2.8rem;
    }

    @include breakpoint(small-tablet) {
      padding: 2.4rem 0;
    }
  }

  &__wrapper{
    width: 100%;
  }

  &__desc{
    max-width: 52rem;
    margin-bottom: 6.4rem;
    @extend %fs-roboto-l;

    @include breakpoint(laptop) {
      margin-bottom: 4.4rem;
    }

    @include breakpoint(small-tablet) {
      margin-bottom: 2rem;
    }
  }

  &__items{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;

    @include breakpoint(small-tablet) {
      display: flex;
      gap: 0;
    }
  }

  &__item{
    background-color: #fff;
    border-radius: 2.4rem;
    padding: 1.2rem;
    max-width: 65.5rem;
    position: relative;

    @include breakpoint(small-tablet) {
      max-width: 100%;
    }
  }

  &__item-link{
    display: block;
    border-radius: 1.8rem;
    margin-bottom: 2.4rem;
    position: relative;
    padding: 0px 0px 52% 0px;

    @include breakpoint(laptop) {
      margin-bottom: 2rem;
    }
  }

  &__item-img{
    border-radius: 1.8rem;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__item-box{
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;

    @include breakpoint(laptop) {
      margin-bottom: auto;
    }
  }

  &__item-box-number{
    @extend %fs-roboto-xl;
    margin-right: 4rem;

    @include breakpoint(laptop) {
      margin-right: 2rem;
    }
  }

  &__item-box-text{
    width: 100%;
    display: flex;
    justify-content: space-between;

    &::after{
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
    }
  }

  &__swiper{

    @include breakpoint(small-tablet) {
      overflow: hidden;
      width: 100%;
      margin: 0 auto;
    }
  }

  &__item{

    @include breakpoint(small-tablet) {
      // width: calc(100vw - 96px);
    }
  }
}