.content-simple{

    &__title{
        @include breakpoint(laptop) {
            margin-bottom: 4rem;
        }
    }

    &__sliders{
        min-width: 0;
        display: flex;
        flex-direction: column;
    }

    &__top-swiper{
        margin-bottom: 5rem;

        @include breakpoint(laptop) {
            margin-bottom: 2rem;
        }

        .swiper-slide.swiper-slide-thumb-active{
            .content-simple__top-swiper-item{
                background-color: $primary-700;
                border: 0.1rem solid $primary-700;
                color: $grayscale-300;

                transition: background-color $tt $te, border-color $tt $te, color $tt $te;

                &:focus {
                    background-color: $primary-400;
                    border-color: $primary-400;
                    color: $grayscale-100;
                }

                &:hover {
                    background-color: $primary-500;
                    border-color: $primary-500;
                    color: $grayscale-100;
                }
            }
        }
    }

    &__top-swiper-slide{
        width: auto;
    }

    &__top-swiper-item{
        padding: 0.6rem 1.6rem; 
        border-radius: 2rem;
        background-color: $grayscale-400;
        border: 0.1rem solid $grayscale-400;
        display: flex;
        justify-content: center;
        cursor: pointer;
        @extend %fs-roboto-xl;

        &:hover {
            background-color: $primary-700;
            color: $grayscale-300;
            border: 0.1rem solid $primary-700;
        }
    }

    &__footer-swiper{
        background-color: $grayscale-100;
        border-radius: 2rem;
        width: 100%;
        overflow: hidden;
    }

    &__footer-swiper-slide{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        column-gap: 3rem;
        padding: 4rem 4rem 4rem 6rem;

        @include breakpoint(laptop) {
            padding: 3rem 3rem 3rem 4rem;
        }

        @include breakpoint(tablet) {
            display: block;
            flex-direction: column;
        }

        @include breakpoint(small-mobile) {
            padding: 2.4rem;
        }
    }

    &__footer-swiper-box{
        flex: 0 1 50%;

        span{
            display: block;
            @extend %fs-h-4;
            margin-bottom: 1rem;

            @include breakpoint(tablet) {
                margin-bottom: 2rem;
            }
        }

        p{
            @extend %fs-roboto-s;
        }

        @include breakpoint(tablet) {
            flex: 0 100%;
            margin-bottom: 3.2rem;
        }
    }

    &__footer-swiper-img-box{
        height: 38.8rem;
        flex: 0 1 50%;
        position: relative;
        border-radius: 2.4rem;
        overflow: hidden;
        background-color: $grayscale-300;

        @include breakpoint(laptop) {
            height: 34.8rem;
        }

        @include breakpoint(tablet) {
            flex: 0 100%;
        }

        @include breakpoint(mobile) {
            height: 26rem;
        }

        @include breakpoint(small-mobile) {
            height: 20.4rem;
        }
    }
    
    &__footer-swiper-img{
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: top center;
    }
}