.content-text{
    max-width: 106rem;

    @include breakpoint(laptop) {
        padding-right: 12rem;
    }

    @include breakpoint(small-tablet) {
        padding-right: 9rem;
    }

    @media only screen and (max-width: (900px)) {
        padding-right: 0;
    }

    &__wrapper{
        max-width: 92.5rem; 
    }

    h2{
        @extend %fs-h-2;
        text-transform: uppercase;
        margin-bottom: 4rem;
        max-width: 106rem;
        word-break: break-word;

        margin-top: 12rem;

        &:first-child{
            margin-top: 0;
        }

        @include breakpoint(laptop) {
            margin-top: 8rem;
            margin-bottom: 2.4rem;
            font-size: 2.8rem;
        }

        @include breakpoint(tablet) {
            margin-top: 6rem;
            margin-bottom: 2rem;
        }

        @include breakpoint(mobile) {
            margin-top: 4rem;
        }

        @include breakpoint(supersmall-mobile) {
            font-size: 2.2rem;
        }
    }

    h3{
        @extend %fs-h-3;
        text-transform: uppercase;
        margin-bottom: 4rem;
        max-width: 106rem;
        word-break: break-word;

        margin-top: 8rem;

        @include breakpoint(laptop) {
            margin-top: 6rem;
            margin-bottom: 2.4rem;
        }

        @include breakpoint(mobile) {
            margin-top: 6.4rem;
        }
    }

    h4{
        @extend %fs-roboto-l;
        margin: 3.2rem 0;

        @include breakpoint(tablet) {
            margin-bottom: 2.5rem;
        }
    }

    p{
        @extend %fs-roboto-s;
        margin-bottom: 3.2rem;
    }

    ul:not(.documents-list, .documents-list__item-list){
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 1.6rem 4.8rem;
    }
    

    li:not(.documents-list li){
        position: relative;
        padding-left: 1.6rem;

        &::before{
            content: '';
            position: absolute;
            width: 0.8rem;
            height: 0.8rem;
            top: 0.6rem;
            left: 0;
            background-color: $primary-700;
            border-radius: 50%;
            flex-shrink: 0;
        }

        a{
            border-bottom: 0.1rem solid $grayscale-900;
        }
    }

    .narrow-list{
        max-width: 24rem;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 4.8rem;
    }

    
    iframe{
       
        border-radius: 2.4rem;
        overflow: hidden;
        object-fit: contain;
    }

    .js-iframe-wrapper{
        margin: 6rem 0;
        width: calc(100% + 13.5rem);

        @include breakpoint(laptop) {
            margin: 3rem 0;
            width: 100%;
        }

        @include breakpoint(small-tablet) {
            margin: 2rem 0;
        }

        @include breakpoint(small-mobile) {
            margin: 2rem 0;
        }
    }

    img:not(.documents-list__item-img-box img){
        width: calc(100% + 13.5rem);
        max-width: none;
        height: auto;
        object-fit: contain;
        object-position: top center;
        border-radius: 2.4rem;
        overflow: hidden;
        margin: 6rem -13.5rem 6rem 0;

        @include breakpoint(laptop) {
            margin: 3rem 0;
            width: 100%;
        }

        @include breakpoint(small-tablet) {

        }

        @include breakpoint(small-mobile) {
 
            margin: 2rem 0;
        }
    }

    table{
        border-collapse: collapse;
        table-layout: fixed;
        margin-top: 6.4rem;
        margin-right: -5rem;
        width: calc(100% + 13.5rem);

        @include breakpoint(laptop) {
            margin-top: 3rem;
            width: 100%;
        }

        @include breakpoint(small-tablet) {
            overflow-x: auto;
            width: 100%
        }

        th,
        td{
            padding: 2.4rem;
            border: 0.1rem solid $grayscale-600;
            color: #222222;

            @include breakpoint(small-tablet) {
                padding: 1.6rem;
            }
        }

        th{
            @extend %fs-roboto-m;
        }

        td{
            @extend %fs-roboto-xl;
        }
    }

    &__btn{
        margin-top: 4rem;

        &.round-buttons::after {
            background-image: url(../../img/arrow-down-white.svg);
        }

        @include breakpoint(small-tablet) {
            &.round-buttons{
                display: block;
            }
            margin-top: 3.2rem;
        }
    }

    .documents-list{
        display: flex;
        flex-direction: column;
        gap: 4rem;
    }

    .documents-list__item{
        padding: 0;
    }
}