.content-data{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 4rem 2rem;

    @include breakpoint(tablet) {
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem 1.6rem;
    }

    

    &__item{
        &:nth-child(4n+4){
            grid-column: span 2;
        }

        @include breakpoint(tablet) {
            &:nth-child(4n+4){
                grid-column: span 1;
            }

            &:nth-child(4){
                order: 1;
                grid-column: span 2;
            }

            &:last-child{
                order: 2;
                grid-column: span 2;
            }
        }

        p{
            @extend %fs-roboto-s;
            margin-bottom: 0.4rem;
        }
        span{
            color: $grayscale-600;
        }

        &--user{
            .user-card{
                padding-top: 0;
                border-top: 0;
            }
        }

    }

}