.feedback-subscription{
    position: relative;
    z-index: 2;
    width: 50%;
    margin-left: auto;

    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    textarea:-webkit-autofill,
    textarea:-webkit-autofill:hover,
    textarea:-webkit-autofill:focus,
    select:-webkit-autofill,
    select:-webkit-autofill:hover,
    select:-webkit-autofill:focus {
        background-color: transparent;
        -webkit-box-shadow: 0 0 0 30px $primary-700 inset !important;
    }

    @include breakpoint(tablet) {
        width: 100%;
    }

    &__title{
        margin-bottom: 6.4rem;
        color: $grayscale-100;

        @include breakpoint(small-tablet) {
            margin-bottom: 4rem;
        }
    }

    &__text{
        @extend %fs-roboto-s;
        color: $grayscale-100;
        max-width: 34rem;
        margin-bottom: 2.4rem;
    }
}