.footer {
  position: relative;
  z-index: 15;

  &__inner {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 2rem;

    background-color: white;
    border-radius: 3.2rem;

    @include breakpoint(laptop) {
      grid-template-columns: 1fr;
    }
  }

  &__left {
    grid-column: span 2;
    align-self: flex-start;

    padding: 8.2rem 0 8rem 4.8rem;

    @include breakpoint(laptop) {
      grid-column: span 1;
      padding: 4rem 2.4rem 0;
    }

    &::before {
      content: '';

      display: block;
      width: 2.8rem;
      height: 2.8rem;

      border-radius: 50%;

      background-color: $grayscale-900;

      @include breakpoint(laptop) {
        width: 1.4rem;
        height: 1.4rem;
      }
    }
  }

  &__content {
    grid-column: span 10;

    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 2rem;
    padding: 7.2rem 4.8rem 8rem 0rem;
    margin-right: -4.8rem;

    @include breakpoint(laptop) {
      grid-column: span 1;
      padding: 0rem 2.4rem 4rem;
      margin-right: 0;
    }

    @include breakpoint(tablet) {
      gap: 2rem;
    }

    @include breakpoint(small-tablet) {
      grid-template-columns: 1fr;
    }
  }

  &__menu {
    grid-column: span 10;

    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 2rem;

    margin-bottom: 13.3rem;

    @include breakpoint(tablet) {
      grid-template-columns: 1fr;
      margin-bottom: 2rem;

      .js-accordion {

        &.active {
          .footer__menu-heading-button svg {
            transform: rotate(-90deg);
          }
        }

        padding-bottom: 2rem;
        border-bottom: 0.1rem solid rgba($grayscale-900, 0.1);

        .footer__submenu {
          height: 0;
          overflow: hidden;
        }
      }

      .footer__submenu  > *:first-of-type {
        padding-top: 2rem;
      }
    }

    @include breakpoint(small-tablet) {
      grid-column: span 1;
    }

    & > * {
      grid-column: span 2;

      @include breakpoint(tablet) {
        grid-column: span 1;
      }

      &:nth-child(4n + 3),
      &:nth-child(4n + 4){
        grid-column: span 3;

        @include breakpoint(tablet) {
          grid-column: span 1;
        }
      }

      &:nth-child(4n + 4) {
        margin-right: 4.8rem;

        @include breakpoint(laptop) {
          margin-right: 2rem;
        }
      }
    }
  }

  &__menu-heading-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
  }

  &__menu-heading {
    display: inline-block;
    margin-bottom: 3.2rem;

    letter-spacing: -0.01em;
    @extend %fs-h-4;
    text-transform: uppercase;

    @include breakpoint(tablet) {
      margin-bottom: 0;
    }

    @extend %interactive;
  }

  &__menu-heading-button {
    padding: 0.6rem 1.4rem;

    border-radius: 6.5rem;

    background-color: $grayscale-200;

    @extend %interactive-svg-stroke-button;

    svg {
      width: 2rem;
      height: 2rem;

      stroke: $grayscale-900;

      transform: rotate(90deg);
    }
  }

  &__submenu {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
  }

  &__menu-link {
    @extend %fs-body-m;
    @extend %interactive;
  }

  &__contacts {
    grid-column: span 4;

    @include breakpoint(small-tablet) {
      grid-column: span 1;
    }
  }

  &__phone {
    display: inline-block;
    margin-top: 4rem;

    letter-spacing: -0.01em;
    @extend %fs-h-4;

    @include breakpoint(small-tablet) {
      margin-top: 2.4rem;
    }
    @extend %interactive;
  }

  &__address {
    display: block;
    margin-top: 0.8rem;

    @extend %fs-body-m;
  }

  &__form {
    grid-column: span 6;

    @include breakpoint(small-tablet) {
      grid-column: span 1;
    }
  }

  &__form-label {
    display: block;
    max-width: 35rem;
    margin-bottom: 4.8rem;

    @extend %fs-body-m;

    @include breakpoint(small-tablet) {
      display: none;
    }
  }

  .email-form {
    max-width: 59rem;

    @include breakpoint(small-tablet) {
      max-width: unset;
    }
  }

  &__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    margin-top: 4rem;
    margin-bottom: 4.8rem;

    color: $grayscale-600;
    @extend %fs-body-xs;

    @include breakpoint(tablet) {
      flex-direction: column;
      align-items: flex-start;
      gap: 4rem;

      margin-bottom: 3.2rem;
    }
  }

  &__copyright-block {
    display: flex;
    column-gap: 4.2rem;
    row-gap: 2rem;
    flex-wrap: wrap;

    @include breakpoint(tablet) {
      flex-direction: column;
      align-items: flex-start;
    }

    a {
      text-decoration: underline;
      @extend %interactive;
    }
  }

  &__made-by {
    display: flex;
    align-items: flex-start;
    gap: 2.8rem;

    @extend %interactive;

    @include breakpoint(small-tablet) {
      gap: 1.2rem;
    }

    svg {
      width: 8.7rem;
      height: 2.2rem;
    }
  }
}