.header {
  position: relative;
  z-index: 20;

  padding-top: 1.6rem;
  padding-bottom: 3.2rem;

  &__top {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;

    margin-bottom: 2.4rem;
  }

  &__top-right {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
  }

  &__main {
    position: relative;
  }

  &__main-row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    min-height: 4.6rem;

    @include breakpoint(laptop) {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }

  &__logos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    align-content: center;

    @include breakpoint(laptop) {
      display: flex;
      align-items: center;
    }
  }

  &__logo {

    @extend %interactive-outline;

    img {
      width: 100%;
      height: 100%;
      max-height: 3rem;
      max-width: 100%;

      object-fit: contain;

      @include breakpoint(laptop) {
        height: 2.4rem;
      }
    }
  }

  &__main-right {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
  }

  &__burger {
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 3.2rem;
    height: 1.8rem;

    & > * {
      height: 0.2rem;
      width: 100%;

      background-color: $grayscale-900;

      transition: background-color $tt $te;
    }

    &::before,
    &::after {
      content: '';
      display: block;
      height: 0.2rem;
      width: 100%;

      background-color: $grayscale-900;

      transition: background-color $tt $te;
    }

    &:focus {
      & > * {
        background-color: $primary-400;
      }

      &::before,
      &::after {
        background-color: $primary-400;
      }
    }

    &:hover {
      & > * {
        background-color: $primary-500;
      }

      &::before,
      &::after {
        background-color: $primary-500;
      }
    }
  }

  &__search-wrapper {
    position: absolute;
    top: 0;
    left: 0;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    width: 100%;
    min-height: 4.6rem;

    pointer-events: none;

    @include breakpoint(laptop) {
      display: none;
    }
  }

  .main-menu {
    transition: opacity $tt $te, visibility $tt $te;

    @include breakpoint(laptop) {
      display: none;
    }
  }

  .big-buttons {
    justify-content: flex-end;
    grid-column: 2/3;

    @include breakpoint(laptop) {
      display: none;
    }

    &__button {
      pointer-events: all;
    }
  }

  .search-field {
    pointer-events: all;
  }
}

.js-search-filed-opened .header .main-menu {
  opacity: 0;
  visibility: hidden;
}