// body.is-using-mouse .fancybox__content .plyr :focus {
//     outline: none;
// }

.quote-single{

    &__title{
        margin-bottom: 6rem;

        @include breakpoint(tablet) {
            margin-bottom: 4rem;
        }
    }

    &__slider{
        overflow: hidden;
    }

    &__item{
        display: grid;
        grid-template-columns: repeat(2, minmax(20rem, 52rem));
        justify-items: start;
        gap: 6rem 15.5rem;

        @include breakpoint(laptop) {
            gap: 6rem;
        }

        @include breakpoint(small-tablet) {
            display: flex;
            flex-direction: column;
            gap: 4rem;
        }
    }
    
    &__navigation{
        @include breakpoint(small-tablet) {
            order: 1;
        }
    }

    &__item-content{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        row-gap: 5.6rem;
    }

    &__item-content-btn{
        display: inline-block;
    }

    &__item-video{
        width: 100%;
        grid-row: span 2;
        border-radius: 1.8rem;
        overflow: hidden;
        position: relative;

        a{
            display: block;
            position: relative;
            height: 100%;
            padding-bottom: 59%;

            img{
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
                z-index: 1;
            }
        }
    }

    &__item-video-box{
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 2;
        padding: 2.4rem;
        color: $grayscale-100;
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;

        @include breakpoint(laptop) {
            padding: 1.6rem;
        }
    }

    &__item-video-time{
        padding: 1.2rem;
        background: rgba(0, 0, 0, 0.3);
        border-radius: 0.6rem;
        @extend %fs-roboto-xs;
        font-size: 1.2rem;

        @include breakpoint(tablet) {
            font-size: 1rem;
        }
    }

    &__item-video-content{
        display: flex;
        justify-content: space-between;
        @extend %fs-body-l;
        column-gap: 1rem;

        span{
            max-width: 39.2rem;
        }
    }

    &__item-video-content-play{
        width: 5.6rem;
        height: 5.6rem;
        background-color: $grayscale-100;
        border-radius: 50%;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-shrink: 0;

        @include breakpoint(tablet) {
            display: none;
        }
    }

    .quote-user {
        gap: 4rem;

        @include breakpoint(tablet) {
            gap: 2rem;
        }
    }

    &__item-content-btn{
        @include breakpoint(small-tablet) {
            order: 2;
        }
    }
}