.section {
  position: relative;
  z-index: 10;

  &--feedback-subscription{

    .section__inner{
      display: flex;
    }

    .section__heading{
      display: none;
    }
    .section__content{
      background-color: $primary-700;
      padding: 7.2rem 4.8rem 8rem;
      width: 100%;
      border-radius: 3.2rem;
      overflow: hidden;
      position: relative;

      &::before{
        content: '';
        position: absolute;
        background-image: url('../../img/content/feedback/1.svg');
        background-repeat: no-repeat;
        background-size: contain;
        width: 198.8rem;
        height: 173.021rem;
        top: -24rem;
        left: -130rem;
        z-index: 1;

        @include breakpoint(laptop) {
          top: -48rem;
        }

        @include breakpoint(mobile) {
          top: -38rem;
          left: -127rem;
        }
      }

      @include breakpoint(laptop) {
        padding: 4rem 2.4rem;
      }
    }
  }

  &--feedback-join{

    .section__inner{
      display: flex;
      width: 100%;
    }

    .section__heading{
      display: none;
    }
    .section__content{
      background-color: $primary-700;
      padding: 7.2rem 4.8rem 8rem;
      width: 100%;
      border-radius: 3.2rem;
      overflow: hidden;
      position: relative;

      @include breakpoint(laptop) {
        padding: 4rem 2.4rem;
      }

      @include breakpoint(small-tablet) {
        &::before{
          content: '';
          position: absolute;
          background-image: url('../../img/content/feedback/1.svg');
          background-repeat: no-repeat;
          background-size: contain;
          width: 174.8rem;
          height: 146rem;
          top: -35rem;
          left: -104rem;
          z-index: 1;
        }
      }


    }
  }

  &--feedback-call{

    .section__inner{
      background-color: $primary-700;
      color: $grayscale-100;
      position: relative;

      &::before{
        content: '';
        position: absolute;
        width: 142.6rem;
        height: 82.3rem;
        background-image: url('../../img/content/feedback/call-bg.svg');
        right: -56rem;
        bottom: -23rem;
        z-index: 1;
      }
    }

    .section__content{
      position: relative;
      z-index: 2;
    }

    .section__heading--dot::before{
      background-color: $grayscale-100;
    }
  }

  &--numbers-main,
  &--quote{

    .section__inner{
      background-image: url('../../img/content/numbers-main/gradient.png');
      background-repeat: no-repeat;
      background-size: 60%;
      background-position: right center;
      width: 100%;
      height: 100%;

      @include breakpoint(small-tablet) {
        background-image: none;
      }
    }
  }

  &--partners{

    .section__inner{
      overflow: hidden;
    }
  }

  &--banners{

    .section__inner{
      background: linear-gradient(250.55deg, #E6BAB7 -9.92%, #B7A7F5 88.06%);
      position: relative;

      @include breakpoint(small-tablet) {
        background: linear-gradient(180deg, #E6BAB7 0%, #B7A7F5 100%); 
      }

      &::before{
        content: '';
        position: absolute;
        width: 198.8rem;
        height: 173.1rem;
        background-image: url('../../img/content/banners/bg-img.svg');
        background-size: cover;
        left: -88rem;
        bottom: -124rem;
        z-index: 1;
        opacity: 0.15;

        @include breakpoint(laptop) {
          background-size: contain;
          width: 142.8rem;
          height: 171.1rem;
          left: -79rem;
          bottom: -121rem;
        }
      }
    }

    .section__heading,
    .section__content{
      position: relative;
      z-index: 2;
    }
  }

  &__inner {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 2rem;

    background-color: white;
    border-radius: 3.2rem;

    @include breakpoint(laptop) {
      grid-template-columns: 1fr;
    }
  }

  &__heading {
    grid-column: span 2;
    align-self: flex-start;

    padding: 8.2rem 0 8rem 4.8rem;

    @extend %fs-body-s;

    h1, h2, h3, h4, h5, h6 {
      @extend %fs-body-s;
    }

    @include breakpoint(laptop) {
      grid-column: span 1;
      padding: 4rem 2.4rem 0;
    }

    &--dot {
      display: flex;
      align-items: center;
      gap: 1.6rem;

      &::before {
        content: '';

        display: block;
        width: 2.8rem;
        height: 2.8rem;
        flex-shrink: 0;

        border-radius: 50%;

        background-color: $grayscale-900;

        @include breakpoint(laptop) {
          width: 1.4rem;
          height: 1.4rem;
        }
      }
    }

  }

  &__content {
    grid-column: span 10;
    min-width: 0;

    padding: 7.2rem 4.8rem 8rem 0rem;

    @include breakpoint(laptop) {
      grid-column: span 1;
      padding: 0rem 2.4rem 4rem;
    }
  }

  &--bg-transparent{

    .section__inner{
      background-color: transparent;
    }
  }

  &--without-right{

    .section__content{
      padding: 7.2rem 0rem 8rem 0rem;

      @include breakpoint(laptop) {
        grid-column: span 1;
        padding: 0rem 2.4rem 4rem;
      }
    }
  }

  &--adaptive-without-padding{

    .section__heading{

      @include breakpoint(laptop) {
        padding: 4rem 0 0;
      }
    }
    .section__content{

      @include breakpoint(laptop) {
        grid-column: span 1;
        padding: 0rem 0rem 4rem;
      }
    }
  }
}