.news-main{

    &__wrapper{
        max-width: 106rem;

        @include breakpoint(small-tablet) {
            & > *:not(:last-child){
                margin-bottom: 2rem;
            }
            & > *:last-child{
                margin-bottom: 0;
            }
        }
    }
    
    &__title{
        margin-bottom: 2.4rem;
    }

    &__date{
        display: inline-block;
        @extend %fs-roboto-xs;
        margin-bottom: 5.6rem;
    }

    &__box{
        width: 100%;
        position: relative;
        border-radius: 2.4rem;
        margin-bottom: 5.6rem;
        padding-bottom: 47%;
        background-color: $grayscale-300;
        overflow: hidden;

        img{
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__box-list{
        position: absolute;
        top: 2.4rem;
        left: 2.4rem;
        right: 2.4rem;
        display: flex;
        flex-wrap: wrap;
        row-gap: 0.8rem;
        -moz-column-gap: 2.4rem;
        column-gap: 2.4rem;

        @include breakpoint(tablet) {
            top: 1rem;
            left: 1rem;
            right: 1rem;
            column-gap: 1rem;
        }
        
        li{
            padding: 0.6rem 1.6rem;
            border-radius: 2rem;
            background-color: #fff;

            @include breakpoint(tablet) {
                padding: 0.25rem 1.2rem;
            }
        }
    }

    &__desc{
        max-width: 78rem;
        @extend %fs-roboto-s;
    }
}