{{#extend "modal-full"}}
    {{#content "content"}}

        <div class="menu">
            {{> components/langs}}
            {{> components/big-buttons}}
            {{> components/main-menu}}
            {{> components/secondary-menu}}
            {{> components/change-version}}
        </div>

    {{/content}}
{{/extend}}