{{#extend "modal"}}
    {{#content "content"}}

        <div class="modal__buttons">
            <button class="button button--white" type="button" data-hystclose>Закрыть</button>
        </div>

    {{/content}}
{{/extend}}