{{#extend "section"}}
    {{#content "content"}}

      <div class="banners">
        <div class="banners__wrapper">
          <h3 class="banners__title">
            Успейте зарегистрироваться на всероссийскую олимпиаду
          </h3>
        </div>
        <div class="banners"></div>
      </div>

    {{/content}}
{{/extend}}