<div class="cards-articls">
  <div class="container">
    <div class="cards-articls__inner">
    {{> components/subtitle }}
    <div class="cards-articls__wrapper">
      <h2 class="cards-articls__title title-h2">
        помогаем развиваться бизнесу
      </h2>
      <div class="cards-articls__desc">
        <p>
          Текст — зафиксированная на каком-либо материальном носителе человеческая мысль.
        </p>
      </div>
      <div class="cards-articls__swiper js-mobile-slider">
        <div class="cards-articls__items swiper-wrapper">
          <div class="cards-articls__item swiper-slide">
            <a class="cards-articls__item-link" href="#">
              <img class="cards-articls__item-img" src="img/content/cards-articls/1.jpg" alt="Иллюстрация">
            </a>
            <div class="cards-articls__item-box">
              <span class="cards-articls__item-box-number">
                01
              </span>
              <a class="cards-articls__item-box-text" href="#">
                Сетевая магистратура для бизнеса
                <svg width="16" height="16">
                  <use xlink:href="#arrow-link-45" />
                </svg>
              </a>
            </div>
          </div>
          <div class="cards-articls__item swiper-slide">
            <a class="cards-articls__item-link" href="#">
              <img class="cards-articls__item-img" src="img/content/cards-articls/1.jpg" alt="Иллюстрация">
            </a>
            <div class="cards-articls__item-box">
              <span class="cards-articls__item-box-number">
                02
              </span>
              <a class="cards-articls__item-box-text" href="#">
                Дополнительное профессиональное образование
                <svg width="16" height="16">
                  <use xlink:href="#arrow-link-45" />
                </svg>
              </a>
            </div>
          </div>
          <div class="cards-articls__item swiper-slide">
            <a class="cards-articls__item-link" href="#">
              <img class="cards-articls__item-img" src="img/content/cards-articls/1.jpg" alt="Иллюстрация">
            </a>
            <div class="cards-articls__item-box">
              <span class="cards-articls__item-box-number">
                03
              </span>
              <a class="cards-articls__item-box-text" href="#">
                Киберполигон
                <svg width="16" height="16">
                  <use xlink:href="#arrow-link-45" />
                </svg>
              </a>
            </div>
          </div>
          <div class="cards-articls__item swiper-slide">
            <a class="cards-articls__item-link" href="#">
              <img class="cards-articls__item-img" src="img/content/cards-articls/1.jpg" alt="Иллюстрация">
            </a>
            <div class="cards-articls__item-box">
              <span class="cards-articls__item-box-number">
                04
              </span>
              <a class="cards-articls__item-box-text" href="#">
                Совместные хакатоны
                <svg width="16" height="16">
                  <use xlink:href="#arrow-link-45" />
                </svg>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
  </div>
</div>