<div class="cards-main">
  <div class="container">
    <div class="cards-main__inner">
      {{> components/subtitle }}
      <div class="cards-main__wrapper">
        <h2 class="cards-main__title title-h2">
          Кейс-стади
        </h2>
        <div class="cards-main__desc">
          <p>
            Реализованные кейс-стади под реальные задачи малого, среднего и крупного бизнеса
          </p>
        </div>
        <div class="cards-main__slider">
          <div class="ordinary-slider">
            <div class="ordinary-slider__swiper swiper-wrapper">
              <div class="ordinary-slider__slide swiper-slide">
                <div class="ordinary-slider__slide-box">
                  <img class="ordinary-slider__slide-box-img" src="img/content/cards-main/1.jpg" alt="Лаборатория">
                  <span class="ordinary-slider__slide-box-text">
                    Разработка под заказчика
                  </span>
                </div>
                <div class="ordinary-slider__slide-wrapper">
                  <div class="ordinary-slider__slide-logo">
                    <img class="ordinary-slider__slide-logo-img" src="img/content/cards-main/logo-company.png" alt="Сбер">
                  </div>
                  <div class="ordinary-slider__slide-content">
                    <ul class="ordinary-slider__slide-content-header">
                      <li class="ordinary-slider__slide-content-header-item">
                        Разработка
                      </li>
                      <li class="ordinary-slider__slide-content-header-item">
                        2021
                      </li>
                    </ul>
                    <div class="ordinary-slider__slide-content-title">
                      Разработка личного кабинета для Сбербанка
                    </div>
                    <div class="ordinary-slider__slide-content-line"></div>
                    <div class="user-card">
                      <div class="user-card__logo">
                        <img class="user-card__logo-img" src="img/content/cards-main/user-1.jpg" alt="Пользователь">
                      </div>
                      <div class="user-card__info">
                        <div class="user-card__info-title">
                          Петров Иван Григорьевич
                        </div>
                        <div class="user-card__info-post">
                          Руководтель проекта
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="ordinary-slider__slide swiper-slide">
                <div class="ordinary-slider__slide-box">
                  <img class="ordinary-slider__slide-box-img" src="img/content/cards-main/2.jpg" alt="Лаборатория">
                  <span class="ordinary-slider__slide-box-text">
                    Разработка под заказчика
                  </span>
                </div>
                <div class="ordinary-slider__slide-wrapper">
                  <div class="ordinary-slider__slide-logo">
                    <img class="ordinary-slider__slide-logo-img" src="img/content/cards-main/logo-company.png" alt="Сбер">
                  </div>
                  <div class="ordinary-slider__slide-content">
                    <ul class="ordinary-slider__slide-content-header">
                      <li class="ordinary-slider__slide-content-header-item">
                        Аналитика данных
                      </li>
                      <li class="ordinary-slider__slide-content-header-item">
                        2021
                      </li>
                    </ul>
                    <div class="ordinary-slider__slide-content-title">
                      Анализ CRM системы технического отдела Газпрома
                    </div>
                    <div class="ordinary-slider__slide-content-line"></div>
                    <div class="user-card">
                      <div class="user-card__logo">
                        <img class="user-card__logo-img" src="img/content/cards-main/user-2.jpg" alt="Пользователь">
                      </div>
                      <div class="user-card__info">
                        <div class="user-card__info-title">
                          Григорий Петр Иванович
                        </div>
                        <div class="user-card__info-post">
                          Руководтель проекта
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="ordinary-slider__slide swiper-slide">
                <div class="ordinary-slider__slide-box">
                  <img class="ordinary-slider__slide-box-img" src="img/content/cards-main/1.jpg" alt="Лаборатория">
                  <span class="ordinary-slider__slide-box-text">
                    Разработка под заказчика
                  </span>
                </div>
                <div class="ordinary-slider__slide-wrapper">
                  <div class="ordinary-slider__slide-logo">
                    <img class="ordinary-slider__slide-logo-img" src="img/content/cards-main/logo-company.png" alt="Сбер">
                  </div>
                  <div class="ordinary-slider__slide-content">
                    <ul class="ordinary-slider__slide-content-header">
                      <li class="ordinary-slider__slide-content-header-item">
                        Разработка
                      </li>
                      <li class="ordinary-slider__slide-content-header-item">
                        2021
                      </li>
                    </ul>
                    <div class="ordinary-slider__slide-content-title">
                      Разработка личного кабинета для Сбербанка
                    </div>
                    <div class="ordinary-slider__slide-content-line"></div>
                    <div class="user-card">
                      <div class="user-card__logo">
                        <img class="user-card__logo-img" src="img/content/cards-main/user-1.jpg" alt="Пользователь">
                      </div>
                      <div class="user-card__info">
                        <div class="user-card__info-title">
                          Петров Иван Григорьевич
                        </div>
                        <div class="user-card__info-post">
                          Руководтель проекта
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="ordinary-slider__slide swiper-slide">
                <div class="ordinary-slider__slide-box">
                  <img class="ordinary-slider__slide-box-img" src="img/content/cards-main/2.jpg" alt="Лаборатория">
                  <span class="ordinary-slider__slide-box-text">
                    Разработка под заказчика
                  </span>
                </div>
                <div class="ordinary-slider__slide-wrapper">
                  <div class="ordinary-slider__slide-logo">
                    <img class="ordinary-slider__slide-logo-img" src="img/content/cards-main/logo-company.png" alt="Сбер">
                  </div>
                  <div class="ordinary-slider__slide-content">
                    <ul class="ordinary-slider__slide-content-header">
                      <li class="ordinary-slider__slide-content-header-item">
                        Аналитика данных
                      </li>
                      <li class="ordinary-slider__slide-content-header-item">
                        2021
                      </li>
                    </ul>
                    <div class="ordinary-slider__slide-content-title">
                      Анализ CRM системы технического отдела Газпрома
                    </div>
                    <div class="ordinary-slider__slide-content-line"></div>
                    <div class="user-card">
                      <div class="user-card__logo">
                        <img class="user-card__logo-img" src="img/content/cards-main/user-2.jpg" alt="Пользователь">
                      </div>
                      <div class="user-card__info">
                        <div class="user-card__info-title">
                          Григорий Петр Иванович
                        </div>
                        <div class="user-card__info-post">
                          Руководтель проекта
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="cards-main__navigation slider-pagination-btns">
            <button class="slider-pagination-btns__button prev" type="button" title="Prev">
                <svg width="8" height="16">
                    <use xlink:href="#arrow-slide" />
                </svg>
            </button>
            <button class="slider-pagination-btns__button next" type="button" title="Next">
                <svg width="8" height="16">
                    <use xlink:href="#arrow-slide" />
                </svg>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>