{{#extend "section"}}
    {{#content "content"}}

        <div class="cards-simple">
            <h2 class="cards-simple__title title-h2">
                Научно-преподаватель&shyский состав
            </h2>
            <div class="cards-simple__desc desc">
                Все сотрудники нашего центра активно участвуют в исследовательских проектах в области защиты информации.
            </div>  
            <div class="cards-simple__slider-box">
                <div class="cards-simple__slider">
                    <div class="cards-simple__swiper swiper loading">
                        <ul class="cards-simple__list swiper-wrapper">
                            <li class="cards-simple__slide swiper-slide">
                                <div class="cards-simple__slide-img-box">
                                    <img class="cards-simple__slide-img" src="img/content/education/1.jpg" alt="Доцент">
                                </div>
                                <a class="cards-simple__slide-name" href="#">
                                    Павел Валерьевич Кустарев
                                </a>
                                <span class="cards-simple__slide-span">
                                    Кандидат технических наук, доцент
                                </span>
                            </li>
                            <li class="cards-simple__slide swiper-slide">
                                <div class="cards-simple__slide-img-box">
                                    <img class="cards-simple__slide-img" src="img/content/education/1.jpg" alt="Доцент">
                                </div>
                                <a class="cards-simple__slide-name" href="#">
                                    Павел Валерьевич Кустарев
                                </a>
                                <span class="cards-simple__slide-span">
                                    Кандидат технических наук, доцент
                                </span>
                            </li>
                            <li class="cards-simple__slide swiper-slide">
                                <div class="cards-simple__slide-img-box">
                                    <img class="cards-simple__slide-img" src="img/content/education/1.jpg" alt="Доцент">
                                </div>
                                <a class="cards-simple__slide-name" href="#">
                                    Павел Валерьевич Кустарев
                                </a>
                                <span class="cards-simple__slide-span">
                                    Кандидат технических наук, доцент
                                </span>
                            </li>
                            <li class="cards-simple__slide swiper-slide">
                                <div class="cards-simple__slide-img-box">
                                    <img class="cards-simple__slide-img" src="img/content/education/1.jpg" alt="Доцент">
                                </div>
                                <a class="cards-simple__slide-name" href="#">
                                    Павел Валерьевич Кустарев
                                </a>
                                <span class="cards-simple__slide-span">
                                    Кандидат технических наук, доцент
                                </span>
                            </li>
                        </ul>
                    </div>
                    <div class="cards-simple__navigation slider-pagination-btns">
                        <button class="slider-pagination-btns__button prev" type="button" title="Prev">
                            <svg width="8" height="16">
                                <use xlink:href="#arrow-slide" />
                            </svg>
                        </button>
                        <button class="slider-pagination-btns__button next" type="button" title="Next">
                            <svg width="8" height="16">
                                <use xlink:href="#arrow-slide" />
                            </svg>
                        </button>
                    </div> 
                </div>   
            </div>                
        </div>

    {{/content}}
{{/extend}}