{{#extend "section"}}
    {{#content "content"}}

      <div class="content-text">
        <h2 class="content-text__title title-h2">
            Задача
        </h2>
        <div class="content-text__wrapper">
            <h3>
                Разработка метода формирования требований к обучающим и тестовым выборкам для беспилотного транспорта степени автоматизации GoA4 при решении задачи обнаружения объектов для АО “НИИАС”
            </h3>
            <p>
                В ближайшее время на Московском центральном кольце (МЦК), самом высокоинтенсивном участке пассажирских перевозок в Европе, запланировано внедрение транспорта с высшим уровнем “беспилотности” – GoA4. Это автоматический и самостоятельный транспорт, который позволит поддерживать график движения с точностью не менее 15 секунд, сократить межпоездной интервал до 3 минут и увеличить количество пассажиров.
            </p>
            <p>
                Однако технология GoA4 не до конца исследована с точки зрения безопасности: для предотвращения аварий электропоезд должен быстро и самостоятельно выявлять объекты на пути следования. Для решения этой задачи используются наиболее эффективные нейронные сети:
            </p>
            <ul class="narrow-list">
                <li>
                    YoloV5
                </li>
                <li>
                    FairNet
                </li>
                <li>
                    CenterMask
                </li>
                <li>
                    RailCNN
                </li>
                <li>
                    Mask R-CNN
                </li>
            </ul>
            <img src="img/content/content-text/1.jpg" alt="Контент изображение">
            <h2 class="content-text__title title-h2">Проблема</h2>
            <h3>
                Чтобы сети выполняли свою функцию, нужно разработать обучающие и тестовые выборки, которые учитывают особенности области применения данных сетей.
            </h3>
            <p>
                Обзор и анализ подходов по применению нейронных сетей для решения задачи обнаружения объектов показал отсутствие научно-обоснованных решений по подготовке качественных выборок данных. Более того, в открытом доступе отсутствуют:
            </p>
            <ul>
                <li>
                    Специализированные датасеты, которые отвечают требованиям, выдвигаемым при автоматизации движения беспилотных локомотивов степени автоматизации GoA4
                </li>
                <li>
                    Методика формирования из специализированных датасетов обучающих и тестовых выборок, которые позволят достичь требуемой эффективности работы системы обнаружения объектов на пути следования в определенных условиях.
                </li>
            </ul>
            <h2 class="content-text__title title-h2">Решение</h2>
            <h3>
                Для решения этих проблем специалисты ФБИТ:
            </h3>
            <ul>
                <li>
                    Рассмотрели актуальные атаки на обучающие выборки и представили, как их могут использовать злоумышленники
                </li>
                <li>
                    Рассмотрели методы обнаружения существующих атак на обучающие выборки для нейронных сетей и наиболее эффективные методы защиты от них
                </li>
                <li>
                    Провели анализ датасетов АО “НИИАС”. Анализ показал, что ним можно применить большинство известных критериев качества обучающих выборок, если расширить количество данных в аннотации при разметке кадров и при формировании значимого набора признаков для объектов железнодорожного транспорта. Для сформированных таким образом выборок следует применять методы защиты, которые удовлетворяют текущей категории данных и систем.
                </li>
            </ul>
            <h2 class="content-text__title title-h2">
                Результат
            </h2>
            <h3>
                В результате исследований специалисты ФБИТ предложили методику формирования критериев качества обучающих выборок с учетом специфики различных типов нейросетей.
            </h3>
            <p>
                Специалисты рассчитали предложенные критерии для объекта «человек» в задаче детектирования и сделали по ним выводы о выполнении или невыполнении конкретного критерия для выбранного объекта в выборке. 
            </p>
            <p>
                И, наконец, специалисты предложили метод формирования требований к обучающей и тестовой выборкам в двух вариантах:
            </p>
            <ul>
                <li>
                    <a href="#">Онлайн-учебник “Информационные технологии и их безопасность” от [team Team]</a>
                </li>
                <li>
                    <a href="#">Видеокурсы “Основы компьютерной безопасности” от Hackerdom</a>
                </li>
                <li>
                    <a href="#">Лекции для начинающих от сообщества спортивного хакинга CTF</a>
                </li>
            </ul>
            <iframe width="100%" src="https://www.youtube.com/embed/qBqVqm_DGU4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <h3>
            Полученный метод используется для модификации или создания новой выборки для обучения нейронной сети, удовлетворяющей заданным требованиям к качеству. 
            </h3>
            <h3>
                Такая выборка позволит полностью реализовать интеллектуальную систему управления беспилотным электропоездом степени автоматизации GoA4 и избежать аварий.
            </h3>
            <table>
                <tr>
                    <th>Великий Оксмокс</th>
                    <th>Грустный реторический вопрос</th>
                </tr>
                <tr>
                    <td>Cобрал семь своих заглавных букв, подпоясал инициал за пояс и пустился в дорогу.</td>
                    <td>Бросил последний взгляд назад, на силуэт своего родного города Буквоград, на заголовок деревни Алфавит и на подзаголовок своего переулка Строчка.</td>
                </tr>
            </table>
        </div>
      </div>
     

    {{/content}}
{{/extend}}