<div class="content-graphic">
  <div class="container">
    <div class="content-graphic__inner">
      {{> components/subtitle data=subtitle.pre-universityTraining}}
      <div class="content-slider__wrapper">
        <h2 class="content-slider__title title-h2">
          Отбираем звезд
        </h2>
        <div class="content-slider__content">
          <div class="content-slider__desc">
            <p>
              В результате проведенных мероприятий мы добились следующих показателей:
            </p>
          </div>
        </div>
        {{> components/list-text data=sections.contentSliderResult modsClass="list-text--row"}}
          <div class="content-slider__box">
            <span class="content-slider__box-title">
              Регулярно побеждаем на соревнованиях
            </span>
            <div class="content-slider__slider">
              <div class="content-slider__slider-navigation">
                <div class="content-slider__pagination"></div>

                <div class="content-slider__text-block">
                  <div class="swiper-wrapper">
                    <div class="swiper-slide">
                      <p>
                        CyBRICS CTF 2021 - крупнейшие международные соревнования от Российских организаторов: 500 команд из 49 стран мира
                      </p>
                    </div>
                    <div class="swiper-slide">
                      <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis ea, in itaque porro architecto laboriosam aspernatur
                      </p>
                    </div>
                  </div>
                </div>

                <div class="content-slider__navigation slider-pagination-btns">
                  <button class="content-slider__navigation-button prev" type="button" title="Prev">
                      <svg width="8" height="16">
                          <use xlink:href="#arrow-slide" />
                      </svg>
                  </button>
                  <button class="content-slider__navigation-button next" type="button" title="Next">
                      <svg width="8" height="16">
                          <use xlink:href="#arrow-slide" />
                      </svg>
                  </button>
                </div>
              </div>
              <ul class="content-slider__swiper content-swiper loading">
                <div class="content-slider__swiper-list swiper-wrapper">
                  <li class="content-slider__swiper-item swiper-slide">
                    <img class="content-slider__swiper-item-img" src="img/content/content-slider/1.jpg" alt="Картинка слайдера">
                  </li>
                  <li class="content-slider__swiper-item swiper-slide">
                    <img class="content-slider__swiper-item-img" src="img/content/content-slider/2.jpg" alt="Картинка слайдера">
                  </li>
                </div>
              </ul>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>