    {{#extend "section"}}
        {{#content "content"}}

        <div class="content-data">
            <div class="content-data__item">
                <p>
                    Аналитика данных
                </p>
                <span>
                    Вид задачи
                </span>
            </div>
            <div class="content-data__item">
                <p>
                    StarLine
                </p>
                <span>
                    Клиент
                </span>
            </div>
            <div class="content-data__item">
                <p>
                    StarLine
                </p>
                <span>
                    Клиент
                </span>
            </div>
            <div class="content-data__item">
                <p>
                    StarLine
                </p>
                <span>
                    Клиент
                </span>
            </div>
            <div class="content-data__item">
                <p>
                    2010 — 2020
                </p>
                <span>
                    Период реализации
                </span>
            </div>
            <div class="content-data__item">
                <p>
                    Аналитика данных
                </p>
                <span>
                    Индустрия
                </span>
            </div>
            <div class="content-data__item">
                <p>
                    Аналитика данных
                </p>
                <span>
                    Индустрия
                </span>
            </div>
            <div class="content-data__item content-data__item--user"> 
                {{> components/user-card}}  
            </div>
        </div>

        {{/content}}
    {{/extend}}