    {{#extend "section"}}
        {{#content "content"}}

        <ul class="content-data">
            <li class="content-data__item">
                <p>
                    Аналитика данных
                </p>
                <span>
                    Вид задачи
                </span>
            </li>
            <li class="content-data__item">
                <p>
                    StarLine
                </p>
                <span>
                    Клиент
                </span>
            </li>
            <li class="content-data__item">
                <p>
                    StarLine
                </p>
                <span>
                    Клиент
                </span>
            </li>
            <li class="content-data__item">
                <p>
                    StarLine
                </p>
                <span>
                    Клиент
                </span>
            </li>
            <li class="content-data__item">
                <p>
                    2010 — 2020
                </p>
                <span>
                    Период реализации
                </span>
            </li>
            <li class="content-data__item">
                <p>
                    Аналитика данных
                </p>
                <span>
                    Индустрия
                </span>
            </li>
            <li class="content-data__item">
                <p>
                    Аналитика данных
                </p>
                <span>
                    Индустрия
                </span>
            </li>
            <li class="content-data__item content-data__item--user"> 
                {{> components/user-card}}  
            </li>
        </ul>

        {{/content}}
    {{/extend}}