<div class="content-graphic">
  <div class="container">
    <div class="content-graphic__inner">
      {{> components/subtitle data=subtitle.developCourses}}
      <div class="content-graphic__wrapper">
        <h3 class="content-graphic__title">
          разрабатываем курсы под нужды бизнеса и студентов
        </h3>
        <div class="content-graphic__img-box">
          <img class="content-graphic__img" src="img/content-graphic__img.svg" alt="">
        </div>
        <div class="content-graphic__content">
          <div class="content-graphic__desc">
            <p>
              Текст — зафиксированная на каком-либо материальном носителе человеческая мысль; в общем плане связная и полная последовательность символов.
            </p>
          </div>
          {{> components/list-text data=sections.contentGraphic.capabilities mods="--mod-1 --mod-2"}}
          <ul class="content-graphic__data">
            {{#each sections.contentGraphic.data}}
              <li>
                <div class="content-graphic__data-number">
                  {{this.number}}
                </div>
                <span class="content-graphic__data-text">
                  {{this.text}}
                </span>
              </li>
            {{/each}}
          </ul>
          <a class="content-graphic__link button" href="#">
            Подробнее
          </a>
        </div>
      </div>
    </div>
  </div>
</div>