{{#extend "section"}}
    {{#content "content"}}

      <div class="content-development">
        <h2 class="content-development__title title-h2">
          Постоянно Развиваемся
        </h2>
        <div class="content-development__content">
          <div class="content-development__content-left">
            <div class="content-development__desc">
              <p>
                Фокусируемся на развитии в следующих направлениях:
              </p>
            </div>
            <ul class="content-development__list">
              {{#each sections.contentDevelopment.directions}}
              <li>
                <div class="content-development__list-box">
                  <img src="{{this.urlImg}}" alt="{{this.altImg}}">
                </div>
                <p class="content-development__list-text">
                  {{this.text}}
                </p>
              </li>
              {{/each}}
            </ul>
          </div>
          <div class="content-development__result">
            <span class="content-development__result-title">
              Результаты 2021 года
            </span>
            {{> components/list-text data=sections.contentResult}}
          </div>
        </div>
      </div>

    {{/content}}
{{/extend}}