{{#extend "section"}}
    {{#content "content"}}

      <div class="content-simple">
        <h2 class="content-simple__title title-h2">
            Области НИИР
        </h2>
        <div class="content-simple__top-slider">
            <div class="content-simple__top-swiper swiper">
                <div class="swiper-wrapper">
                    <div class="content-simple__top-slider-slide swiper-slide">
                        <div class="content-simple__top-slider-item">
                            Название области 1
                        </div>
                    </div>
                    <div class="content-simple__top-slider-slide swiper-slide">
                        <div class="content-simple__top-slider-item">
                            Название области 1
                        </div>
                    </div>
                    <div class="content-simple__top-slider-slide swiper-slide">
                        <div class="content-simple__top-slider-item">
                            Название области 1
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </div>

    {{/content}}
{{/extend}}