{{#extend "section"}}
    {{#content "content"}}

      <div class="content-simple">
        <h2 class="content-simple__title title-h2">
            Области НИИР
        </h2>
        <div class="content-simple__sliders">
            <div class="content-simple__top-swiper swiper">
                <div class="swiper-wrapper">
                    <div class="content-simple__top-swiper-slide swiper-slide">
                        <div class="content-simple__top-swiper-item">
                            Название области 1
                        </div>
                    </div>
                    <div class="content-simple__top-swiper-slide swiper-slide">
                        <div class="content-simple__top-swiper-item">
                            Название области 2
                        </div>
                    </div>
                    <div class="content-simple__top-swiper-slide swiper-slide">
                        <div class="content-simple__top-swiper-item">
                            Название области 3
                        </div>
                    </div>
                    <div class="content-simple__top-swiper-slide swiper-slide">
                        <div class="content-simple__top-swiper-item">
                            Название области 4
                        </div>
                    </div>
                    <div class="content-simple__top-swiper-slide swiper-slide">
                        <div class="content-simple__top-swiper-item">
                            Название области 5
                        </div>
                    </div>
                </div>
            </div>

            <div class="content-simple__footer-swiper
            swiper">
                <div class="swiper-wrapper">
                    <div class="content-simple__footer-swiper-slide swiper-slide">
                        <div class="content-simple__footer-swiper-box">
                            <span>
                                Название области
                            </span>
                            <p>
                                Текст — зафиксированная на каком-либо материальном носителе человеческая мысль; в общем плане связная и полная последовательность символов.
                            </p>
                        </div>
                        <div class="content-simple__footer-swiper-img-box">
                            <img class="footer-swiper-img" src="img/content/content-simple/1.jpg" alt="">
                        </div>
                    </div>
                    <div class="content-simple__footer-swiper-slide swiper-slide">
                        <div class="content-simple__footer-swiper-box">
                            <span>
                                Название области
                            </span>
                            <p>
                                Текст — зафиксированная на каком-либо материальном носителе человеческая мысль; в общем плане связная и полная последовательность символов.
                            </p>
                        </div>
                        <div class="content-simple__footer-swiper-img-box">
                            <img class="footer-swiper-img" src="img/content/content-simple/1.jpg" alt="">
                        </div>
                    </div>
                    <div class="content-simple__footer-swiper-slide swiper-slide">
                        <div class="content-simple__footer-swiper-box">
                            <span>
                                Название области
                            </span>
                            <p>
                                Текст — зафиксированная на каком-либо материальном носителе человеческая мысль; в общем плане связная и полная последовательность символов.
                            </p>
                        </div>
                        <div class="content-simple__footer-swiper-img-box">
                            <img class="footer-swiper-img" src="img/content/content-simple/1.jpg" alt="">
                        </div>
                    </div>
                    <div class="content-simple__footer-swiper-slide swiper-slide">
                        <div class="content-simple__footer-swiper-box">
                            <span>
                                Название области
                            </span>
                            <p>
                                Текст — зафиксированная на каком-либо материальном носителе человеческая мысль; в общем плане связная и полная последовательность символов.
                            </p>
                        </div>
                        <div class="content-simple__footer-swiper-img-box">
                            <img class="footer-swiper-img" src="img/content/content-simple/1.jpg" alt="">
                        </div>
                    </div>
                    <div class="content-simple__footer-swiper-slide swiper-slide">
                        <div class="content-simple__footer-swiper-box">
                            <span>
                                Название области
                            </span>
                            <p>
                                Текст — зафиксированная на каком-либо материальном носителе человеческая мысль; в общем плане связная и полная последовательность символов.
                            </p>
                        </div>
                        <div class="content-simple__footer-swiper-img-box">
                            <img class="footer-swiper-img" src="img/content/content-simple/1.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </div>

    {{/content}}
{{/extend}}