{{#extend "section"}}
    {{#content "content"}}

        <div class="feedback-call">
            <h2 class="feedback-call__title title-h2">
                Готовы к масштабированию
            </h2>
            {{>components/form data="form--dark" inputsRow=true  header=false desc=true message=false email=true phone=false}}
        </div>

    {{/content}}
{{/extend}}