{{#extend "section"}}
    {{#content "content"}}

      <div class="feedback-join">
        <div class="feedback-join__wrapper">
          <div class="feedback-join__box">
            <img src="img/content/feedback/join-img.svg" alt="Иллюстрация">
            <div class="feedback-join__box-contacts">
              <a class="feedback-join__box-contacts-tell" href="tel:+78123123269">+7 (812) 312-32-69</a>
              <a class="feedback-join__box-contacts-mail" href="mailto:fbititmo@gmail.com">fbititmo@gmail.com</a>
            </div>
          </div>
          <div class="feedback-join__contain">
            <h2 class="feedback-join__contain-title title-h2">
              Присоединяйтесь к сотрудничеству
            </h2>
            {{>components/form data="form--dark" header=false desc=true message=false email=true phone=true}}
          </div>
        </div>
      </div>

    {{/content}}
{{/extend}}