{{#extend "section"}}
    {{#content "content"}}

        <div class="feedback-subscription">
            <h2 class="feedback-subscription__title title-h2">
                Используйте возможности по максимуму
            </h2>
            <p class="feedback-subscription__text">
                Подписывайтесь на рассылку полезных материалов
            </p>
            {{>components/email-form mod="email-form--on-dark"}}
        </div>

    {{/content}}
{{/extend}}