{{#extend "section"}}
    {{#content "content"}}

      <div class="filter">
        <h2 class="filter__title title-h2">
            {{data.titleMain}}
        </h2>
        <div class="filter__desc desc">
            <p>
                {{data.desc}}
            </p>
        </div>
        <form class="filter__form">
            <fieldset>
                <div class="filter__form-input-wrapper">
                    <input class="filter__form-input" type="text" placeholder="Поиск по ФИО">
                    {{!-- <span class="filter__form-input-placeholder">Поиск по ФИО</span> --}}
                    <span class="filter__form-input-search">
                        <svg width="20" height="20">
                            <use xlink:href="#search" />
                        </svg>
                    </span>
                </div>
                <select class="filter__from-select js-choice-select" >
                    <option value="Направление"></option>
                    <option value="Направление 2"></option>
                    <option value="Направление 3"></option>
                </select>
                <select class="filter__from-select js-choice-select" >
                    <option value="Направление"></option>
                    <option value="Направление 2"></option>
                    <option value="Направление 3"></option>
                </select>
            </fieldset>
        </form>
      </div>

    {{/content}}
{{/extend}}