{{#extend "section"}}
    {{#content "content"}}

      <div class="filter">
        <h2 class="filter__title title-h2">
            {{data.titleMain}}
        </h2>
        <div class="filter__desc desc">
            <p>
                {{data.desc}}
            </p>
        </div>
        <form class="filter__form">
            <fieldset class="filter__form-selects">
                <div class="filter__form-input-wrapper">
                    <input class="filter__form-input" type="text" placeholder="Поиск по ФИО">
                    {{!-- <span class="filter__form-input-placeholder">Поиск по ФИО</span> --}}
                    <span class="filter__form-input-search">
                        <svg width="20" height="20">
                            <use xlink:href="#search" />
                        </svg>
                    </span>
                </div>
                <select class="filter__from-select js-choice-select" >
                    <option value="Направление"></option>
                    <option value="Направление 2"></option>
                    <option value="Направление 3"></option>
                </select>
                <select class="filter__from-select js-choice-select" >
                    <option value="Направление"></option>
                    <option value="Направление 2"></option>
                    <option value="Направление 3"></option>
                </select>
            </fieldset>
            <fieldset class="filter__footer">
                <ul class="filter__footer-list">
                    <li>
                        <a class="filter__footer-list-link active" href="#">
                            Страницы сайта
                        </a>
                    </li>
                    <li>
                        <a class="filter__footer-list-link" href="#">
                            Блог
                        </a>
                    </li>
                    <li>
                        <a class="filter__footer-list-link" href="#">
                            Мероприятия и олимпиады
                        </a>
                    </li>
                    <li>
                        <a class="filter__footer-list-link active" href="#">
                            Страницы сайта
                        </a>
                    </li>
                    <li>
                        <a class="filter__footer-list-link" href="#">
                            Блог
                        </a>
                    </li>
                    <li>
                        <a class="filter__footer-list-link" href="#">
                            Мероприятия и олимпиады
                        </a>
                    </li>
                </ul>
                <button class="filter__footer-reset" type="button">
                    <svg width="16" height="17">
                        <use xlink:href="#delete" />
                    </svg>
                    Сбросить фильтры
                </button>
            </fieldset>
        </form>
      </div>

    {{/content}}
{{/extend}}