<section class="intro-digits">
  <div class="container">
    <div class="intro-digits__inner intro-digits__inner--bg">
      {{> components/breadcrumbs}}
      <div class="intro-digits__wrapper">
        <h1 class="intro-digits__title">
          Сетевая магистратура для бизнеса
        </h1>
        <div class="intro-digits__desc">
          <p>
            Сетевая магистратура – уникальное целевое сотрудничество университета и бизнеса.
          </p>
        </div>
        <a class="intro-digits__link button" href="#">
          Обсудить сотрудничество
        </a>
      </div>
    </div>
  </div>
</section>