{{#extend "section"}}
    {{#content "content"}}

    <div class="numbers-main">
      <h2 class="numbers-main__title title-h2">
        О центре
      </h2>
      <div class="numbers-main__wrapper">
        <div class="numbers-main__info">
          <div class="numbers-main__info-desc">
            <p>
              В состав центра входят известные ученые, опытные преподаватели и практикующие специалисты ведущих компаний отрасли информационной безопасности, проектирования и конструирования
            </p>
          </div>
          <div class="numbers-main__info-box">
            <img class="numbers-main__info-box-img" src="" alt="">
            <a class="numbers-main__info-box-link" href="#">
              Подробнее о центре
            </a>
          </div>
        </div>
      </div>
    </div>


    {{/content}}
{{/extend}}