{{#extend "section"}}
    {{#content "content"}}

    <div class="quote-simple">
      <h2 class="quote-simple__title title-h2">
        Отзыв клиента
      </h2>
      {{> components/quote-user column=false}}
    </div>
    {{/content}}
{{/extend}}