{{#extend "section"}}
    {{#content "content"}}

    <div class="quote-more">
      <h2 class="quote-more__title title-h2">
        Ведущие компании уже сотрудничают с нами
      </h2>
      <div class="quote-more__slider">
        <div class="quote-more__swiper swiper loading">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <div class="quote-more__slider-item">
              {{> components/quote-user column=true}}
              </div>
            </div>
            <div class="swiper-slide">
              <div class="quote-more__slider-item">
              {{> components/quote-user column=true}}
              </div>
            </div>
            <div class="swiper-slide">
              <div class="quote-more__slider-item">
              {{> components/quote-user column=true}}
              </div>
            </div>
            <div class="swiper-slide">
              <div class="quote-more__slider-item">
              {{> components/quote-user column=true}}
              </div>
            </div>
          </div>
        </div>
        <div class="quote-more__navigation slider-pagination-btns">
            <button class="slider-pagination-btns__button prev" type="button" title="Prev">
                <svg width="8" height="16">
                    <use xlink:href="#arrow-slide" />
                </svg>
            </button>
            <button class="slider-pagination-btns__button next" type="button" title="Next">
                <svg width="8" height="16">
                    <use xlink:href="#arrow-slide" />
                </svg>
            </button>
        </div>
      </div>
    </div>
    {{/content}}
{{/extend}}