{{#extend "section"}}
    {{#content "content"}}

      <div class="tables">
        <h2 class="tables__title title-h2">
            Направления подготовки
        </h2>
        <div class="tables__box">
            {{#each data.data}}
            <div class="tables__box-row">
                <span>
                    {{this.date}}
                </span>
                <h3 class="tables__box-row-title">
                    {{this.title}}
                </h3>
                <div>
                    {{this.text1}}
                </div>
                <div>
                    {{this.text2}}
                </div>
            </div>
            {{/each}}
        </div>
        <div class="tables__links">
            <a class="tables__link button" href="#">
                Подать документы
            </a>
            <a class="tables__link-down round-buttons round-buttons--download" href="#" download>
                Скачать учебный план
            </a>
        </div>
      </div>

    {{/content}}
{{/extend}}