{{#extend "section"}}
    {{#content "content"}}

      <div class="tables">
        <h2 class="tables__title title-h2">
            Направления подготовки
        </h2>
        <div class="tables__box">
            <div class="tables__box-row">
                <span>
                    10.03.01
                </span>
                <h3 class="tables__box-row-title">
                    Информационная безопасность
                </h3>
                <div>
                    85 бюджетных мест
                </div>
                <div>
                    90 контрактных мест
                </div>
            </div>
            <div class="tables__box-row">
                <span>
                    10.03.01
                </span>
                <h3 class="tables__box-row-title">
                    Информационная безопасность
                </h3>
                <div>
                    85 бюджетных мест
                </div>
                <div>
                    90 контрактных мест
                </div>
            </div>
            <div class="tables__box-row">
                <span>
                    10.03.01
                </span>
                <h3 class="tables__box-row-title">
                    Информационная безопасность
                </h3>
                <div>
                    85 бюджетных мест
                </div>
                <div>
                    90 контрактных мест
                </div>
            </div>
        </div>
      </div>

    {{/content}}
{{/extend}}