<div class="big-buttons">
    {{>components/search-field}}
    <a class="big-buttons__button" href="#" title="User">
        <svg width="20" height="20">
            <use xlink:href="#user" />
        </svg>
    </a>
</div>