<div class="blockquote">
    {{#if title}}
        <span>
            Жизненное кредо:
        </span>
    {{/if}}
    <blockquote>
        Текст — зафиксированная на каком-либо материальном носителе человеческая мысль; в общем плане связная и полная последовательность символов.
    </blockquote>
</div>