 <div class="breadcrumbs">
  <ul class="breadcrumbs__list">
    {{#each data.breadcrumbs}}
    <li>
      <a class="breadcrumbs__link" href="#">
        {{this.name}}
      </a>
    </li>
    {{/each}}
  </ul>
</div>