 <div class="breadcrumbs">
  <ul class="breadcrumbs__list">
    <li>
      <a class="breadcrumbs__link" href="#">
        Главная
      </a>
    </li>
    <li>
      <a class="breadcrumbs__link" href="#">
        Бизнес
      </a>
    </li>
    <li>
      <a class="breadcrumbs__link" href="#">
        Кейс-стади
      </a>
    </li>
  </ul>
</div>