<form class="email-form js-form {{mod}}" action="/">
    {{>components/input data=inputs.email  }}
    <button class="email-form__button" type="submit" title="Отправить">
        <svg width="20" height="20">
            <use xlink:href="#arrow" />
        </svg>
    </button>
</form>