<div class="quote-user {{#if column}}quote-user--column{{/if}}">
  <div class="quote-user__box">
    <blockquote>
      Текст (от лат. textus — ткань; сплетение, сочетание) — зафиксированная на каком-либо материальном носителе человеческая мысль; в общем плане связная и полная последовательность символов.
    </blockquote>
  </div>
  <div class="quote-user__user">
    {{> components/user-card withoutBorder=true}}
  </div>
</div>