<div class="search-field js-search">
    <form class="search-field__form" action="">
        <button class="search-field__button search-field__button--open" type="button" title="Search">
            <svg width="20" height="20">
                <use xlink:href="#search" />
            </svg>
        </button>
        <input class="search-field__element" name="q" type="text" placeholder="Поиск по сайту">
        <button class="search-field__button search-field__button--close" type="button" title="Close" disabled>
            <svg width="20" height="20">
                <use xlink:href="#cross-small" />
            </svg>
        </button>
    </form>
    <div class="search-field__result">
        <span class="search-field__error">Не найдено.</span>
        <ul class="search-field__result-list">
            <li>
                <a class="search-field__result-link" href="#">Всероссийская олимпиада по информационным технологиям</a>
            </li>
            <li>
                <a class="search-field__result-link" href="#">Окружной хакатон «Цифровой прорыв»</a>
            </li>
            <li>
                <a class="search-field__result-link" href="#">День открытых дверей в ИТМО</a>
            </li>
        </ul>
    </div>
</div>