<ul class="secondary-menu">
    {{#each menu.top}}
        <li>
            <a class="secondary-menu__link {{#if this.active}}active{{/if}}" href="{{this.link}}">{{this.name}}</a>
        </li>
    {{/each}}
</ul>