<ul class="socials">
    {{#each socials}}
        <li>
            <a href="{{this.link}}" class="socials__link" title="{{this.name}}">
                {{{this.icon}}}
            </a>
        </li>
    {{/each}}
</ul>