<ul class="tabs-buttons">
    <li class="tabs-buttons__wrapper">
        <button class="tabs-buttons__tab js-tab-btn" type="button">
            {{button1}}
        </button>
    </li>
    <li class="tabs-buttons__wrapper">
        <button class="tabs-buttons__tab js-tab-btn" type="button">
            {{button2}}
        </button>
    </li>
</ul>