<div class="user-card">
    <div class="user-card__logo">
        <img src="img/content/cards-main/user-2.jpg" alt="Пользователь">
    </div>
    <div class="user-card__info">
        <h3 class="user-card__info-title">
            Григорий Петр Иванович
        </h3>
        <div class="user-card__info-post">
            <p>
                Руководитель проекта
            </p>
        </div>
    </div>
</div>