{{#extend "layout"}}
{{#content "main"}}

    <section class="section section--employee">
        <div class="container">
            <div class="section__inner">
                <div class="section__heading">
                    <h2></h2>
                    <div class="breadcrumbs">
                        <ul class="breadcrumbs__list">
                            <li>
                                <a class="breadcrumbs__link" href="#">
                                    Главная
                                </a>
                            </li>
                            <li>
                                <a class="breadcrumbs__link" href="#">
                                    Сотрудники
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="section__content">
                  <div class="employee">
                    <div class="employee__wrapper">
                        <div class="employee__inner">
                            <h2 class="employee__title title-h2">
                                Заколдаев Данил Анатольевич
                            </h2>
                            <div class="employee__desc desc">
                                Декан факультета «Безопасности Информационных Технологий», Директор международного научно-образовательный центра «Безопасность и надежность критических цифровых технологий»
                            </div>
                            <ul class="employee__list-info">
                                <li>
                                    <span>
                                        Ученая степень
                                    </span>
                                    <p>
                                        Доцент
                                    </p>
                                </li>
                                <li>
                                    <span>
                                        Научные интересы
                                    </span>
                                    <p>
                                        Big data, сапр, системы управления жизненным циклом изделия
                                    </p>
                                </li>
                            </ul>
                            {{>components/blockquote}}
                            <ul class="employee__footer">
                                <li class="employee__footer-item">
                                    <span class="employee__footer-item-title">
                                        E-mail
                                    </span>
                                    <ul class="employee__footer-item-emails">
                                        <li>
                                            <a class="employee__footer-item-email" href="mailto:d.zakoldaev@mail.ru">
                                                d.zakoldaev@mail.ru
                                            </a>
                                        </li>
                                        <li>
                                            <a class="employee__footer-item-email" href="mailto:d.zakoldaev@itmo.ru">
                                                d.zakoldaev@itmo.ru
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="employee__footer-item">
                                    <span class="employee__footer-item-title">
                                        Google Академия: 
                                    </span>
                                    <ul class="employee__footer-item-emails">
                                        <li>
                                            <a class="employee__footer-item-email" href="mailto:zakoldaev.115477.itmo">
                                                zakoldaev.115477.itmo
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <div class="employee__img-box">
                            <img src="img/content/education/4.jpg" alt="Преподаватель">
                        </div>
                    </div>
                  </div>
                </div>
            </div>
        </div>
    </section>  

    <section class="section section--bg-transparent section--adaptive-without-padding">
        <div class="container">
            <div class="section__inner">
                <div class="section__heading section__heading--dot">
                    <h2></h2>
                </div>
                <div class="section__content">
                    <div class="content-text">
                        <div class="content-text__wrapper">
                            <h2>
                                Биография   
                            </h2>
                            <p>
                                В 1997 году поступил и в 2002 году успешно закончил Санкт-Петербургский государственный институт точной механики и оптики (технический университет) — СПбГИТМО (ТУ).
                            </p>
                            <p>
                                В 2012 году защитил диссертацию на соискание ученой степени кандидата технических наук.
                            </p>
                            <p>
                                В 2013 г. прошел стажировку в R&D подразделении корпорации IBM г. Хайфа, Израиль. 
                            </p>
                            <p>
                                В 2016 году присвоено ученое звание «Доцент».
                            </p>
                            <p>
                                Пройдена переподготовка по специальности «Государственное и муниципальное управление».
                            </p>
                            <p>
                                Работал ассистентом, доцентом кафедры проектирования и безопасности компьютерных систем.
                            </p>
                            <p>
                                Является сотрудником международной лаборатории "Интеллектуальные методы обработки информации и семантические технологии".
                            </p>
                            <p>
                                Д.А. Заколдаев автор более 50 печатных работ, более 25 журнальных статей и 5 учебных пособий.
                            </p>
                            <p>
                                Является соавтором более 10 программ для ЭВМ, находящихся в промышленной эксплуатации на стратегически важных предприятиях РФ.
                            </p>
                            <p>
                                За время работы в коммерческих структурах Д.А. Заколдаев принял участие, в том числе руководил проектами разработки и внедрения автоматизированных систем на следующих предприятиях: ОАО «Телекоминвест» (Мастер система), ПАО «Газпром» (МИКС ПХД, КСЗИ,  ПУР АСБУ, SAPR3), ПАО МТС (Система учета взаимоотношений с контрагентами), Министерство обороны (ПО специального назначения, ОКР). 
                            </p>
                            <p>
                                Область научных интересов Д. А. Заколдаева включает: САПР, Big Data, безопасность цифрового производства, аппаратные средства защиты информации,  информационные технологии в образовании.
                            </p>
                            <h2>Проекты</h2>
                            <ul>
                                <li>
                                    Интеллекуальные технологии обеспечения кибербезопасности организаций банковской сферы 04/01/2022 - 12/31/2022
                                </li>
                                <li>
                                    Разработка алгоритмов защиты киберпространства для решения прикладных задач обеспечения кибербезопасности организаций банковской сферы 09/01/2020 - 12/31/2020
                                </li>
                                <li>
                                    Исследование перспективных методов и технологий защиты киберпространства в банковской сфере 03/12/2020 - 12/31/2020
                                </li>
                            </ul>
                            <a class="content-text__btn round-buttons round-buttons--dark" href="#">Показать все</a>
                            <h2>
                                Интервью
                            </h2>
                            <iframe width="100%" src="https://www.youtube.com/embed/qBqVqm_DGU4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            <p>
                                Интервью с выпускником Заколдаевым Даниилом Анатольевичем
                            </p>
                            <h2>
                                Научные публикации
                            </h2>
                            {{> components/document-list data=contentText notLines=true}}
                            <a class="content-text__btn round-buttons round-buttons--dark" href="#">Показать все</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {{> sections/cards-simple data=sections.cardsSimple2}}

{{/content}}
{{/extend}}