{{#extend "layout"}}
{{#content "main"}}

    <div class="error-page">
        <div class="container">
            <div class="error-page__inner">
                <h1 class="error-page__title">
                    Ошибка <span>404</span>
                </h1>
                <div class="error-page__description-block">
                    <div class="error-page__description">
                        <p>К сожалению, такой страницы  у нас не существует. Проверьте правильность ссылки или вернитесь на главную.</p>
                        <a class="error-page__link button button--white-dark-boder" href="#">
                            На главную
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

{{/content}}
{{/extend}}