{{#extend "layout"}}
{{#content "main"}}

    <section class="section section--employee">
        <div class="container">
            <div class="section__inner">
                <div class="section__heading">
                    <h2></h2>
                    <div class="breadcrumbs">
                        <ul class="breadcrumbs__list">
                            <li>
                                <a class="breadcrumbs__link" href="#">
                                    Главная
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="section__content">
                  <div class="news-main">
                    <div class="news-main__wrapper">
                        <h2 class="news-main__title title-h2">
                            Название новости
                        </h2>
                        <span class="news-main__date">24 мая 2021</span>
                        <div class="news-main__box">
                            <img src="img/content/news/1.jpg" alt="">
                            <ul class="news-main__box-list">
                                <li>
                                    Рубрика
                                </li>
                            </ul>
                        </div>
                        <p class="news-main__desc">
                            Текст — зафиксированная на каком-либо материальном носителе человеческая мысль; в общем плане связная и полная последовательность символов.
                        </p>
                    </div>
                  </div>
                </div>
            </div>
        </div>
    </section>


    <section class="section section--bg-transparent section--adaptive-without-padding section--without-right">
        <div class="container">
            <div class="section__inner">
                <div class="section__heading section__heading--dot">
                    <h2></h2>
                </div>
                <div class="section__content">
                    <div class="news-content">
                        <div class="content-text content-text--news-section">
                            <div class="content-text__wrapper">
                                <h2>
                                    Заголовок
                                </h2>
                                <p>
                                    В лингвистике термин «текст» используется в широком значении, включая и образцы устной речи. Восприятие текста изучается в рамках лингвистики текста и психолингвистики. Так, например, И. Р. Гальперин определяет текст следующим образом:
                                </p>
                                <ul>
                                    <li>
                                        Подготовка к CTF-соревнованиям
                                    </li>
                                    <li>
                                        Повышение квалификации
                                    </li>
                                    <li>
                                        Пентесты системы
                                    </li>
                                </ul>
                                <h3>
                                    Подзаголовок
                                </h3>
                                <p>
                                    В лингвистике термин «текст» используется в широком значении, включая и образцы устной речи. Восприятие текста изучается в рамках лингвистики текста и психолингвистики. Так, например, И. Р. Гальперин определяет текст следующим образом: «Это письменное сообщение, объективированное в виде письменного документа, состоящее из ряда высказываний, объединённых разными типами лексической, грамматической и логической связи, имеющее определённый моральный характер, прагматическую установку и соответственно литературно обработанное».
                                </p>
                                <h3>
                                    Заголовок
                                </h3>
                                <p>
                                    В лингвистике термин «текст» используется в широком значении, включая и образцы устной речи. Восприятие текста изучается в рамках лингвистики текста и психолингвистики. Так, например, И. Р. Гальперин определяет текст следующим образом: «Это письменное сообщение, объективированное в виде письменного документа, состоящее из ряда высказываний, объединённых разными типами лексической, грамматической и логической связи, имеющее определённый моральный характер, прагматическую установку и соответственно литературно обработанное».
                                </p>
                                <div class="content-text__slider js-one-slide">
                                    <div class="content-text__swiper swiper loading">
                                        <ul class="swiper-wrapper">
                                            <li class="swiper-slide">
                                                <div class="content-text__swiper-item">
                                                    <img class="content-text__swiper-item-box" src="img/content/content-text/2.jpg" alt="">
                                                </div>
                                            </li>
                                            <li class="swiper-slide">
                                                <div class="content-text__swiper-item">
                                                    <img class="content-text__swiper-item-box" src="img/content/content-text/1.jpg" alt="">
                                                </div>
                                            </li>
                                            <li class="swiper-slide">
                                                <div class="content-text__swiper-item">
                                                    <img class="content-text__swiper-item-box" src="img/content/content-text/2.jpg" alt="">
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="content-text__slider-wrapper">
                                        <span>
                                            Приписка к фотографии
                                        </span>
                                        <div class="slider-pagination-btns slider-pagination-btns--bg-white">
                                            <button class="prev" type="button" title="Prev">
                                                <svg width="8" height="16">
                                                    <use xlink:href="#arrow-slide" />
                                                </svg>
                                            </button>
                                            <button class="next" type="button" title="Next">
                                                <svg width="8" height="16">
                                                    <use xlink:href="#arrow-slide" />
                                                </svg>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <p>
                                    В лингвистике термин «текст» используется в широком значении, включая и образцы устной речи. Восприятие текста изучается в рамках лингвистики текста и психолингвистики. Так, например, И. Р. Гальперин определяет текст следующим образом: «Это письменное сообщение, объективированное в виде письменного документа, состоящее из ряда высказываний, объединённых разными типами лексической, грамматической и логической связи, имеющее определённый моральный характер, прагматическую установку и соответственно литературно обработанное».
                                </p>
                                {{>components/blockquote title=flase}}
                            </div>
                        </div>
                        <div class="news-content__inner">
                            <span class="news-content__inner-title">
                                Похожие публикации
                            </span>
                            <div class="news-content__inner-slider">
                                <div class="news-content__inner-swiper swiper loading js-mobile-sliderNews">
                                    <ul class="swiper-wrapper">
                                        <li class="swiper-slide">
                                            <div class="news-content__inner-swiper-item">
                                                <div class="news-content__inner-swiper-item-box">
                                                    <img src="img/content/news-content/1.jpg" alt="">
                                                    <ul class="news-content__inner-swiper-item-list">
                                                        <li>
                                                            Рубрика 1
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="news-content__inner-swiper-item-content">
                                                    <div>
                                                        25 мая 2022
                                                    </div>
                                                    <span>
                                                        Название новости
                                                    </span>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="swiper-slide">
                                            <div class="news-content__inner-swiper-item">
                                                <div class="news-content__inner-swiper-item-box">
                                                    <img src="img/content/news-content/1.jpg" alt="">
                                                    <ul class="news-content__inner-swiper-item-list">
                                                        <li>
                                                            Рубрика 2
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="news-content__inner-swiper-item-content">
                                                    <div>
                                                        25 мая 2022
                                                    </div>
                                                    <span>
                                                        Название новости
                                                    </span>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="swiper-slide">
                                            <div class="news-content__inner-swiper-item">
                                                <div class="news-content__inner-swiper-item-box">
                                                    <img src="img/content/news-content/1.jpg" alt="">
                                                    <ul class="news-content__inner-swiper-item-list">
                                                        <li>
                                                            Рубрика 3
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="news-content__inner-swiper-item-content">
                                                    <div>
                                                        25 мая 2022
                                                    </div>
                                                    <span>
                                                        Название новости
                                                    </span>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <a class="news-content__btn round-buttons round-buttons--dark" href="#">Перейти в блог</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {{> sections/feedback-subscription data=sections.feedbackSubcription}}


{{/content}}
{{/extend}}