{{#extend "layout"}}
{{#content "main"}}

    <section class="section section--employee">
        <div class="container">
            <div class="section__inner">
                <div class="section__heading">
                    <h2></h2>
                    <div class="breadcrumbs">
                        <ul class="breadcrumbs__list">
                            <li>
                                <a class="breadcrumbs__link" href="#">
                                    Главная
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="section__content">
                  <div class="news-main">
                    <div class="news-main__wrapper">
                        <h2 class="news-main__title title-h2">
                            Название новости
                        </h2>
                        <span class="news-main__date">24 мая 2021</span>
                        <div class="news-main__box">
                            <img src="img/content/news/1.jpg" alt="">
                            <ul class="news-main__box-list">
                                <li>
                                    Рубрика
                                </li>
                            </ul>
                        </div>
                        <p class="news-main__desc">
                            Текст — зафиксированная на каком-либо материальном носителе человеческая мысль; в общем плане связная и полная последовательность символов.
                        </p>
                    </div>
                  </div>
                </div>
            </div>
        </div>
    </section>


    <section class="section section--bg-transparent section--adaptive-without-padding">
        <div class="container">
            <div class="section__inner">
                <div class="section__heading section__heading--dot">
                    <h2></h2>
                </div>
                <div class="section__content">
                    <div class="content-text">
                        <div class="content-text__wrapper">
                            <h2>
                                Заголовок
                            </h2>
                            <p>
                                В лингвистике термин «текст» используется в широком значении, включая и образцы устной речи. Восприятие текста изучается в рамках лингвистики текста и психолингвистики. Так, например, И. Р. Гальперин определяет текст следующим образом:
                            </p>
                            <ul>
                                <li>
                                    Подготовка к CTF-соревнованиям
                                </li>
                                <li>
                                    Повышение квалификации
                                </li>
                                <li>
                                    Пентесты системы
                                </li>
                            </ul>
                            <h3>
                                Интервью
                            </h3>
                            <p>
                                В лингвистике термин «текст» используется в широком значении, включая и образцы устной речи. Восприятие текста изучается в рамках лингвистики текста и психолингвистики. Так, например, И. Р. Гальперин определяет текст следующим образом: «Это письменное сообщение, объективированное в виде письменного документа, состоящее из ряда высказываний, объединённых разными типами лексической, грамматической и логической связи, имеющее определённый моральный характер, прагматическую установку и соответственно литературно обработанное».
                            </p>
                            <h3>
                                Интервью
                            </h3>
                            <p>
                                В лингвистике термин «текст» используется в широком значении, включая и образцы устной речи. Восприятие текста изучается в рамках лингвистики текста и психолингвистики. Так, например, И. Р. Гальперин определяет текст следующим образом: «Это письменное сообщение, объективированное в виде письменного документа, состоящее из ряда высказываний, объединённых разными типами лексической, грамматической и логической связи, имеющее определённый моральный характер, прагматическую установку и соответственно литературно обработанное».
                            </p>
                            <div class="content-text__slider">
                                <div class="content-text__swiper">
                                    <div class="swiper-wrapper">
                                        <div class="swiper-slide">
                                            <div class="content-text__swiper-item">
                                                <img class="content-text__swiper-item-box" src="img/content/content-text/2.jpg" alt="">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="content-text__slider-wrapper">
                                    <span class="content-text__slider-text">
                                        Приписка к фотографии
                                    </span>
                                    <div class="slider-pagination-btns">
                                        <button class="prev" type="button" title="Prev">
                                            <svg width="8" height="16">
                                                <use xlink:href="#arrow-slide" />
                                            </svg>
                                        </button>
                                        <button class="next" type="button" title="Next">
                                            <svg width="8" height="16">
                                                <use xlink:href="#arrow-slide" />
                                            </svg>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {{> sections/feedback-subscription data=sections.feedbackSubcription}}


{{/content}}
{{/extend}}