{{#extend "layout"}}
{{#content "main"}}

    {{> sections/filter data=sections.filter2}}


    {{#extend "section" data=searchList}}
        {{#content "content"}}

            <div class="search-list">
                <div class="search-list__wrapper">
                    <ul class="search-list__inner">
                        <li>
                            <div class="search-list__inner-item">
                                <a class="search-list__inner-title" href="#">
                                    Наши выпускники выйграли очередную олимпиаду
                                </a>
                                <ul class="search-list__inner-info">
                                    <li>
                                        Страница
                                    </li>
                                    <li>
                                        15 апреля 2022 год
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <div class="search-list__inner-item">
                                <a class="search-list__inner-title" href="#">
                                    Выпускники выйграли соревнование
                                </a>
                                <ul class="search-list__inner-info">
                                    <li>
                                        Страница
                                    </li>
                                    <li>
                                        15 апреля 2022 год
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <div class="search-list__inner-item">
                                <a class="search-list__inner-title" href="#">
                                    Выпускники
                                </a>
                                <ul class="search-list__inner-info">
                                    <li>
                                        Страница
                                    </li>
                                    <li>
                                        15 апреля 2022 год
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <div class="search-list__inner-item">
                                <a class="search-list__inner-title" href="#">
                                    Выпускники рассказали как им по-приколу было учиться у нас
                                </a>
                                <ul class="search-list__inner-info">
                                    <li>
                                        Страница
                                    </li>
                                    <li>
                                        15 апреля 2022 год
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                    <div class="pagination">
                        <ul class="pagination__list">
                            <li>
                                <a class="pagination__list-link pagination__list-link--active" href="#">
                                    01
                                </a>
                            </li>
                            <li>
                                <a class="pagination__list-link" href="#">
                                    02
                                </a>
                            </li>
                            <li>
                                <a class="pagination__list-link" href="#">
                                    03
                                </a>
                            </li>
                            <li>
                                <span class="agination__list-points">
                                    ...
                                </span>
                            </li>
                            <li>
                                <a class="pagination__list-link" href="#">
                                    15
                                </a>
                            </li>
                            <li>
                                <a class="pagination__list-link" href="#">
                                    16
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        {{/content}}
    {{/extend}}

    

{{/content}}
{{/extend}}