@import 'global/variables';
@import 'global/extends';
@import 'global/vendor';
@import 'global/mixins';
@import 'global/global';
@import 'global/utils';
@import 'global/animations';
@import 'global/layout';

@import 'vendor/hystModal';
@import 'vendor/various';

@import 'sections/header';
@import 'sections/footer';
@import 'sections/section';
@import 'sections/map';
@import 'sections/intro-main';
@import 'sections/intro-digits';
@import 'sections/content-graphic';
@import 'sections/content-development';
@import 'sections/content-slider';
@import 'sections/cards-main';
@import 'sections/cards-articls';
@import 'sections/cards-simple';
@import 'sections/content-data';
@import 'sections/content-text';
@import 'sections/content-simple';
@import 'sections/cards-presentation';
@import 'sections/feedback-subscription';

@import 'components/contacts';
@import 'components/socials';
@import 'components/form';
@import 'components/input';
@import 'components/button';
@import 'components/policy';
@import 'components/email-form';
@import 'components/modal';
@import 'components/modal-full';
@import 'components/change-version';
@import 'components/secondary-menu';
@import 'components/languages';
@import 'components/main-menu';
@import 'components/big-buttons';
@import 'components/menu';
@import 'components/search-field';
@import 'components/mini-slider';
@import 'components/breadcrumbs';
@import 'components/slider-pagination-btns';
@import 'components/list-text';
@import 'components/numbers';
